<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br/>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= f.submit nil, :class => 'btn btn-lg btn-success' %>
    </div>
<% end %>
<div style="text-align: right;">
  <% if logged_in? %>
      Currently logged in as: <%= current_user.email %> |

      <% if current_user.has_linked_github? %>
          <%= link_to 'Unlink your Github account', delete_oauth_path('github'), method: :delete %>
      <% else %>
          <%= link_to 'Link your GitHub account', auth_at_provider_path(:provider => :github) %>
      <% end %> |

      <%= link_to 'Logout', logout_path %>
  <% else %>
      <%= link_to 'Login', login_path %> |
      <%= link_to 'Login using Github', auth_at_provider_path(provider: :github) %>
  <% end %>
</div>
